header {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1vw 0.5vw;

  .logo {
    height: 4vw;
    margin: 0vw 0.5vw 0vw 6vw;
  }
  .title {
    font-size: 2.5vw;
    color: #2fdf84;
  }
  .nav {
    margin: 2px 30px 2px auto;
    padding: 1em;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      .nav-item {
        .nav-link {
          text-decoration: none;
          color: #fff;
          letter-spacing: 1px;
          font-size: 18px;

          &:hover{
            color: #2fdf84;
          }
        }
      }
    }
  }
}
