.profile-row {
  display: flex;

  align-items: center;
  gap: 10px;
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  div {
    h4 {
      font-size: 22px;
      color: #2fdf84;
      margin-bottom: 2px;
      width: 100px;
      white-space: nowrap; /* Verhindert Zeilenumbruch */
      overflow: hidden; /* Verhindert Überlauf */
      text-overflow: ellipsis; /* Fügt ... hinzu, wenn der Text den Container sprengt */
    }
    .discription {
      font-size: 15px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  .link-green{
   &:hover{
    color: #2fdf84;

   }
  }
  .link-red{
    color: #df2f2f;
  }

  .profile-row-link {
    margin-left: 3px;
    &:hover {
      cursor: pointer;
    }
  }
}
