<div class="profile-container">
  <div class="profile-infos-container">
    <img src="../../../../assets/img/dog/dog_16.jpg" alt="">
    <h2>Khali</h2>
    <div class="posts-followers-gefolgt">
      <div class="p-f-g-container posts-number-container">
        <h3>Beiträge</h3>
        <p>12</p>
      </div>
      <div class=" p-f-g-container followers-number-container">
        <h3>followers</h3>
        <p>180</p>

      </div>
      <div class="p-f-g-container gefolgt-number-container">
        <h3>gefolgt</h3>
        <p>230</p>

      </div>
    </div>
    <p class="bio">"Bester Freund des Menschen auf der Suche nach Abenteuern und Leckerlis 🐕🍖"</p>
    <a class="profile-bearbeiten-link" [routerLink]="['/routePath']" routerLinkActive="router-link-active">profile
      Bearbeiten</a>
  </div>
  <div class="posts-container">
    <header></header>
  </div>
</div>
