.container {
  padding-top: 3vw;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr; /* Zwei Spalten mit gleicher Breite */
  grid-template-rows: repeat(10, max-content);

  .cards-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .proposals-column {
  }
}
