<app-header></app-header>

<div class="container">
  <app-hamster-card [img]="post.img[0]" [text]="post.text[0]"></app-hamster-card>
  <app-hamster-card [img]="post.img[1]" [text]="post.text[1]"></app-hamster-card>
  <app-hamster-card [img]="post.img[2]" [text]="post.text[0]"></app-hamster-card>
  <app-hamster-card [img]="post.img[3]" [text]="post.text[0]"></app-hamster-card>
  <app-hamster-card [img]="post.img[4]" [text]="post.text[0]"></app-hamster-card>
  <app-hamster-card [img]="post.img[5]" [text]="post.text[0]"></app-hamster-card>
  <app-hamster-card [img]="post.img[6]" [text]="post.text[0]"></app-hamster-card>
  <app-hamster-card [img]="post.img[7]" [text]="post.text[0]"></app-hamster-card>
  <app-hamster-card [img]="post.img[8]" [text]="post.text[0]"></app-hamster-card>
  <app-hamster-card [img]="post.img[9]" [text]="post.text[0]"></app-hamster-card>







</div>
