.auth-main{
  height: 100vh;
  width: 100vw;
  background-image: url(../assets/img/dog/dog_13.jpg) ;
}
.transparent{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.82);
  z-index: 0;
}
.container {
  padding-top: 3vw;
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(2, 1fr); /* Zwei Spalten mit gleicher Breite */
  grid-template-rows:  max-content;

  .cards-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   .f{
    margin-bottom: 20px;
   }
  }

  .proposals-column {
  }
}
