<div class="login-container">
  <ng-container *ngIf="switchToAuthMeldung">
    <mat-icon class="registriert-meldung-icon" [ngClass]="success_registriert ? 'success-meldung' : 'failed-meldung'"
      [fontIcon]="success_registriert ? 'check_circle' : 'cancel'"></mat-icon>

    <p class="registriert-meldung" [ngClass]="success_registriert ? 'success-meldung' : 'failed-meldung'">
      {{meldung}}</p>
  </ng-container>

  <ng-container *ngIf="switchToAuthMeldung===false">

    <h1 class="auth-titil">Login</h1>
    <form class="form" (ngSubmit)="onSubmit()">
      <input id="input-name" class="input" type="text" name="username" [(ngModel)]="username" placeholder="username"
        autocomplete="current-password">
      <input id="input-password" class="input" type="password" name="password" [(ngModel)]="password"
        placeholder="password" autocomplete="current-password">
      <a [routerLink]="['/auth/signup']" class="switch-login-link">Hast du noch keinen account!</a>
      <button type="submit" class="btn primary">
        login
      </button>
    </form>
  </ng-container>

</div>