<app-profile-row img="assets/img/dog/dog_16.jpg" name="San" discription="5 Jahre alt" profile_function="anzeigen"></app-profile-row>

<div class="freundschaft-vorschlaege">


  <h3 class="ueberschrift-3">Freundschaft Vorschläge</h3>
  <div class="profile-row">
    <ng-container *ngFor="let img of profile_rows.imges; let i = index">
      <app-profile-row [img]="img " [name]="profile_rows.names[i]"
        [discription]="profile_rows.discriptions[i]" [profile_function]="'folgen'"></app-profile-row>
    </ng-container>
  </div>
</div>
